.playing-container{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    @media (max-width: 480px){
        flex-direction: column;
        align-items: center;
    };
}
.computer-container{
    display: flex;
    flex-direction: column;
    border: 0.8px solid beige;
    border-radius: 4px;
    align-items: center;
    width: 200px;
    height: 180px;
    padding: 10px 30px;
    margin-top: 10px;
}
h2,h3{
    text-align: center;
}
.backToHome{
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}
.playAgainBtn{
    width: 7rem;
    height: 1.6rem;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: unset;
    color: white;
}
.buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
}
img{
    border: none;
    width: 80px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .player-container{
    display: flex;
    width: 250px;
    height: 180px;
    flex-direction: column;
    border: 0.8px solid beige;
    border-radius: 4px;
    align-items: center;
    padding: 10px 5px;
    margin-top: 10px;
  }