h1 {
    text-align: center;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 2.7rem;
    margin-bottom: 50px;
}

.root{
    background: linear-gradient(to right, #4157d3 , rgb(118, 99, 99));
    padding: 30px 40px;
    
}