.iconBtn{
    border: none;
    cursor: pointer;
    background-color: unset;
  }
  .iconBtn img{
    border: none;
    width: 68px;
    object-fit: cover;
  }
  .selection-container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  .player-container{
    display: flex;
    flex-direction: column;
    border: 0.8px solid beige;
    border-radius: 4px;
    align-items: center;
    padding: 0 15px 20px 15px;
  }