.App {
  text-align: center;
  width: 800px;
  border: 2px double rgb(230, 49, 218);
  border-radius: 10px;
  margin: 100px auto;
  background-color: beige;
  padding: 20px;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(230, 49, 218);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header{
  display: flex;
  flex-direction: row;
  align-items: center ;
  column-gap: 40px;
  padding: 0;
  margin: 0;
}
#title{
  text-align: center;
  color: rgb(230, 49, 218);
}
.flicker-text{
  animation: flicker 5s infinite;
}
@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.playing-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  margin-top: 50px;
  
}
.playing-icons{
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#inputField{
  padding: 8px 3px;
  border: 2px solid rgb(230, 49, 218);
  border-radius: 6px;
  margin-right: auto;
  width: 300px;
  color:rgb(230, 49, 218);
}
.icon-size{
  font-size: 1rem;
}
h1{
  font-size: 3rem;
}
h2, p{
  color:rgb(230, 49, 218);
}
.btnPlay{
  padding: 10px 25px;
  /* border: 2px solid rgb(230, 49, 218); */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(230, 49, 218);
  box-shadow: 2px -4px 8px #FF4500;
  background-color: #FF4500;
  color: white;
  font-size: 1.5rem;
}
.resultMessage{
  text-align: center;
  color: rgb(230, 49, 218);
  font-size: 3rem;
}
.icons-deactive{
  pointer-events: none;
}
.icons-active{
  pointer-events: auto;
}