@font-face {
  font-family: 'Montserrat';
  src: url('../src/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
       url('../src/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: white;
  max-width: 720px;
}

code {
  font-family: 'Montserrat', sans-serif;
}


